@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Cormorant+Infant|Ubuntu');
<link rel="stylesheet" href="https://use.typekit.net/vnd2cau.css">
<link rel="stylesheet" href="https://use.typekit.net/qie5cub.css">
<link rel="stylesheet" href="https://use.typekit.net/fzj8ast.css">
@import url('https://fonts.googleapis.com/css?family=Cormorant+Infant|Playfair+Display|Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Felipa');
@import url('https://fonts.googleapis.com/css?family=Felipa');

/*
- DO NOT DELETE
- IMD211: Week1 Assignment 3
- Created by: Art Institute of Pittsburgh Online Division - 2015
- This code template was developed with the assistance of Jeffery Davis - www.jefferyrdavis.com
- Modifications made by:  (Yoshua)
*/

/* Set HTML5 tags to block for older browsers */
article, aside, figure, footer, header, hgroup, main,
menu, nav, section { display: block; }

/*background*/
body {
    font-size: 1em;
    font-family: cursive;
    color: orangered;
    background-color: brown;
}

/*header tags*/
header {
    text-align: center;
}
header h1 {
    font-size: 3.8em;
    color: whitesmoke;
    font-size: 4.5em;
   
}
header h2 {
   font-family: 'Felipa', cursive;
    font-size: 2.5em;
    color: yellow;
     
}

/*menu content*/
article {
   background-color: gray; 
    padding-left: 2em;
    padding-top: 2em;
    margin-right:7em;
    margin-left: 6em
}



/*menu headers*/
article h1 {
    color: #000;
   font-family: 'Ubuntu', sans-serif;
    font-size: 40pt;
    text-shadow: 2px 7px 9px #000000;
    color: yellow;
    
    
}
article h2 {
    color: white; 
    font-family: 'Ubuntu', sans-serif;
    text-shadow: 2px 5px 5px #000000;
    font-size: 27px;
    text-align: center;
    font-family: 'Felipa', cursive;
    text-decoration: underline;
   
    
    
}

/*style table for menu data*/
table {
   
    
}

/* targets all table rows column */
tr { 
    display: inline-block;
    color: black;
    
     
}

/* targets all columns */
tr td { 
    float: left;
    line-height: 3.0;
    font-size: 16px;
    
    
    
}

/* targets the first column */
/* This is the item # */
tr td:first-child { 
  font-family: sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size:20px;
    line-height: 3.0;
    color: white;
    text-shadow: 10px 10px 10px #000000;

}

/* targets the second column */
/* This is the food name */
tr td:nth-child(2){ 
   font-family: sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size:  20px;
    line-height: 3.0;
    text-shadow: 10px 10px 10px #000000;
    color: white;
    margin-left:.75em;
    
}

/* targets the third column */
/* This is the price */
tr td:nth-child(3){ 
    white-space: nowrap;
    font-family: sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size:20px;
    line-height: 3.0;
    text-shadow: 10px 10px 10px #000000;
    color: white;
     margin-left:.75em;
    
}

/* targets the fourth (last) column */
/* This is the description */
tr td:last-child{ 
    line-height: 1.0;
    color: black;
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Cormorant Infant', serif;
    font-family: 'Playfair Display', serif;
    
    
}


/* footer*/
footer {
    margin-bottom: 50px;

}
footer address {
    font-style: normal;
    margin-bottom: 20px;
    color: white;
    text-align: center;

}

/*links in footer*/
a {
    color: white;
    text-decoration: none;
    border-bottom: 1px dotted black;
}
a:hover {
    color: green;
    border-bottom: 1px dotted #ffc547;
}